{% extends "index.html" %}

{% block content %}
<h2>Determine which sport you would like to research</h2>
<form method=post>
    <dl>
        <p>
            <h3>Sport</h3>
            Enter the Sport you would like to research (Basketball or Football)<br/><br/>
            {{form.title}}
        </p>

        <p>
            <h3>Position</h3> 
            Enter the position you would like to analyze<br /><br />
            {{form.text}}
        </p>
    </dl>
    <p><input type="submit" value="submit"</p>
 </form>
{% endblock%}