{% extends "layout.html" %}

{% block content %}

    <!-- Masthead-->
    <header class="masthead">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 text-uppercase">Predicting the Pros</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">Predict the School that would give you the best chance to getting drafted to the NFL or NBA</h2>
                <a class="btn btn-primary js-scroll-trigger" href="#about">Get Started</a>
            </div>
        </div>
    </header>
    <!-- About-->
    <section class="about-section text-center" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-white mb-4">Background</h2>
                    <p class="text-white-50">
                        We have taken draft data from the NFL and NBA, and college stats for basketball and football between the years of 2014 and 2019
                        to create a predictive model by utilizing Machine Learning.
                        <a href="https://expertsystem.com/machine-learning-definition/">Machine Learning</a>
                        is an application of artificial intelligence (AI) that provides systems the ability to automatically learn and improve from experience without being explicitly programmed.
                    </p>
                </div>
            </div>
            <img class="img-fluid" src="../static/assets/img/ayton.png" alt="" />
        </div>
    </section>
    <!-- Projects-->
    <section class="projects-section bg-light" id="projects">
        <div class="container">
            <!-- Featured Project Row-->
            <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                    <div class="col-lg-6"><img class="img-fluid" src="../static/assets/img/NCAAtrophy.jpg" alt="" /></div>
                        <div class="col-lg-6">
                            <div class="bg-black text-center h-100 project">
                                <div class="d-flex h-100">
                                    <div class="project-text w-100 my-auto text-center text-lg-left">
                                        <h4 class="text-white">Geographical Data</h4>
                                        <p class="mb-0 text-white-50">An example of where you can put an image of a project, or anything else, along with a description.</p>
                                        <hr class="d-none d-lg-block mb-0 ml-0" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" alt="" /></div>
                        <div class='tableauPlaceholder col-xl-12 col-lg-12' id='viz1605232650881' style='position: relative'>
                            <noscript>
                                <a href='#'>
                                    <img alt=' ' 
                                    src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pr&#47;Project3Maps&#47;Dashboard1&#47;1_rss.png' 
                                    style='border: none' />
                                </a>
                            </noscript>
                            <object class='tableauViz'  style='display:none;'>
                                <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
                                <param name='embed_code_version' value='3' /> <param name='site_root' value='' />
                                <param name='name' value='Project3Maps&#47;Dashboard1' /><param name='tabs' value='no' />
                                <param name='toolbar' value='yes' />
                                <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pr&#47;Project3Maps&#47;Dashboard1&#47;1.png' /> 
                                <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' />
                                <param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en' />
                                <param name='filter' value='publish=yes' />
                            </object>
                        </div>   
                    </div> 
    </section>
    
    <section class="machine-section" id="machine">
        <div class="container">
            <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                    <div class="col-lg-6"><img class="img-fluid" src="../static/assets/img/cmcaff.jpg" alt="" /></div>
                        <div class="col-lg-6 order-lg-first">
                            <div class="bg-white text-center h-100 project">
                                <div class="d-flex h-100">
                                    <div class="d-flex h-100">
                                        <div class="project-text w-100 my-auto text-center text-lg-right">
                                            <h4 class="text-black">Machine Learning</h4>
                                            <p class="mb-0 text-black-50">Another example of a project with its respective description. These sections work well responsively as well, try this theme on a small screen!</p>
                                            <hr class="d-none d-lg-block mb-0 mr-0" />
                                        </div>
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
    <!-- Contact-->
    <section class="contact-section bg-black" id= "contact">
        <div class="container">
        <div class="mx-auto text-center">
            <H1 class="mx-auto my-0 text-uppercase">CONTACT US</H1>
        </div>
            <div class="row">
                <div class="col-md-3 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-basketball-ball text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Dominique Dunning</h4>
                            <hr class="my-4" />
                            <div class="small text-black-50">niquedunning5@gmail.com</div>
                            <a href="https://www.linkedin.com/in/dominique-dunning-0b27037a/"><img src="../static/assets/img/Linkedin-Logo.png" alt="" /></a>
                            <a href="https://github.com/niquedunning/"><img src="../static/assets/img/github.png" alt="" /></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-globe-americas text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Salvador Olivas</h4>
                            <hr class="my-4" />
                            <div class="small text-black-50">sal.olivas1989@gmail.com</div>
                            <a href="https://www.linkedin.com/in/salvador-olivas-282242169"><img src="../static/assets/img/Linkedin-Logo.png" alt="" /></a>
                            <a href="https://github.com/solivas89/"><img src="../static/assets/img/github.png" alt="" /></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-football-ball text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Dale Romero</h4>
                            <hr class="my-4" />
                            <div class="small text-black-50">dale.romero@gmail.com</div>
                            <a href="https://www.linkedin.com/in/daleromero/"><img src="../static/assets/img/Linkedin-Logo.png" alt="" /></a>
                            <a href="https://github.com/chippen-dale"><img src="../static/assets/img/github.png" alt="" /></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-chart-line text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Nabeel Sheikh</h4>
                            <hr class="my-4" />
                            <div class="small text-black-50">nabi.sheikh23@gmail.com</div>
                            <a href="https://www.linkedin.com/in/nabeel--sheikh/"><img src="../static/assets/img/Linkedin-Logo.png" alt="" /></a>
                            <a href="https://github.com/nsheikh23"><img src="../static/assets/img/github.png" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}